.nav{
    background-color:rgb(58, 180, 218);
    width: 7%;
    height: 668px;
}
.right-nav{
    width: 90%;
    height: 100%;
}
.logoIcon{
    width: 30px;
    height: 35px;
    margin-left: 23px;
    margin-top: 25px;
}
.react-icon{
    width: 40px;
    height: 30px;
    color: white;
}
.n-t{
    margin-top: 100px;
}
.card-style{
    width: 240px;
    height: 135px;
    margin-top: 50px;
    margin-left: 50px;
}
.card-style1{
    width: 240px;
    height: 135px;
    background-color: rgb(58, 180, 218);;
    margin-top: 50px;
    margin-left: 50px;
}
.cardIcn{
    width: 50px;
    height: 50px;
    float: left;
    margin-top: 3px;
    margin-left: 4px;
}
.crd-title{
    float: left;
    font-size: 20px;
    margin-bottom: -60px;
}
.card-text{
    float: left;
    color: rgb(58, 180, 218);
    margin-top: 4px;
}
.crd-title1{
    float: left;
    color: white;
    margin-bottom: -60px;
}
.card-text2{
    float: left;
    color: rgb(238, 210, 50);
    margin-top: 4px;
}
.card-text3{
    float: left;
    color: rgb(209, 16, 64);
    margin-top: 4px;
}
.card-text4{
    float: left;
    color: white;
    margin-top: 4px;
}

.list-card-style{
    width: 300px;
    height: 135px;
    margin-top: 50px;
    margin-left: 50px;  
}
.navbr{
    float: left;
    margin-left: 1000px;
}
.profile{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.chart{
    margin-top: 49px;
}