.background{
    width: 100%;
    height: 655px;
}
.logo{
    float: left;
    margin-left: -45px;
    width: 29px;
    height: 29px;
   
}
.logo-text{
    font-weight: bold;
}
.form{
    margin-bottom: 180px;
    margin-left: 50px;
}
.login-form-title{
    font-size: 25px;
    font-weight: bold;
    margin-right: 20%;
}
.form-group{
    margin-top: 30px;
}
.Form{
    margin-top: 15px;
}
.input-form{
    border-radius: 10px;
    background-color: rgb(82, 194, 231);
}
.btn{
    border-radius: 15px;
    background-color: white;
    color:rgb(38, 143, 241);
    width: 100%;
    font-weight: bold;
}
 .c-form{
     width: 60%;
     margin-left: 20%;
 }
 .c-btn{
     width: 35%;
     height: 45%;
     color: white;
     margin-right: 25%;
     background-color: rgb(86, 186, 233);
     border-radius: 4%;
 }